

@media (min-width: 300px) and (max-width: 426px) {
  video#video_petshop_video {
    width: 90%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        left: 5%;
  }

}

@media (min-width: 426px) and (max-width: 768px) {

  .video_petshop_content {
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  video#video_petshop_video {
    width: 90%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        left: 5%;
  }

}

@media (min-width: 768px) and (max-width: 1025px) {


  video#video_petshop_video {
    width: 90%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    left: 5%;
  }

}

@media (min-width: 1024px) {
  video#video_petshop_video {
    width: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      height: 50vh;
      margin: auto;
      max-width: 1114px;
  }
}


@media (min-width: 1440px) and (max-width: 2601px) {

  video#video_petshop_video {

      height: 500px !important;

  }

}

.video_petshop_content {
    z-index: 1;
    position: relative;
    text-align: center;


}

img#boton {
    cursor: pointer;
}



.slider {

}

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;

}

.slick-active {

}

.slick-current {

}
